* {
    margin: 0;
    padding: 0;
}

:root {
    --font-family: "Times New Roman", "Georgia", "Serif";
    --primary-background-color: rgb(72, 27, 100);
}

h1, footer {
    background-color: var(--primary-background-color);
    color: white;
    padding: 1rem;
    border: 1px;
    font-size: 20px;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    align-items: space-around;
    padding: 1rem;
}

nav a {
    flex: 1 1 auto;
    display: block;
    text-decoration: none;
    color: white;
}

nav a:hover {
   color: lightblue;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lightgray;
    height: 200px;
}

main p {
    grid-column: 1/3;
    padding: 1rem;
}

aside {
    background-color: white;
}

footer {
    text-align: center;
    height: 220px;
}